.contenedor {   
  display: grid;
  /* se crea un contenedor de cuadrícula de 3 columnas de tamaño automatico */
    grid-template-columns: auto auto auto;  
    grid-gap: 1px;
    padding: 0px;
   
  }
  
 article{
    border: 1px solid #000;     
    margin: 0px !important;
    padding: 0px;
 }

 
 /* tamaño telefono */
 @media (max-width: 600px) {
    .contenedor {        
        display: grid;
        grid-template-columns:auto !important;
      }
      article{
        border: 1px solid #000;        
     }
  }

  /* tamaño tableta */
  @media (max-width: 900px) {
    .contenedor {       
        display: grid;
        /* se crea un contenedor de cuadrícula de 2 columnas de tamaño automatico */
        grid-template-columns: auto auto;
        grid-gap: 1px;
        padding:0px;
      }
    
  }